<div class="card shadow-sm mb-4">

  <div class="card-body p-0">
    <table class="table table-hover table-striped table-bordered mb-0">
      <thead class="table-light text-center">
        <tr>
          <th>User</th>
          <th>Car</th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
      </thead>
      <tbody>
        <% posts.each do |post| %>
          <tr>
            <td class="text-center">
              <span class="badge bg-info text-dark">
                <%= post.car.user.name %>
              </span>
            </td>
            <td class="text-center"><%= post.car.car_name %></td>
            <td class="text-center">
              <%= link_to post.title, user_car_post_path(post.car.user, post.car, post), class: "text-decoration-none fw-bold" %>
            </td>
            <td><%= truncate(post.body, length: 80) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>