<div class="container py-4">
  <div class="card shadow-sm">
    <div class="card-header bg-warning text-white">
      <h4 class="mb-0">投稿を編集する</h4>
    </div>

    <div class="card-body">
      <%= form_with(model: [current_user, @post.car, @post], local: true) do |f| %>
        <%= render 'form', post: @post, f: f %>
        <div class="d-flex">
          <%= f.submit "更新する", class: "btn btn-primary mr-3" %>
          <%= link_to 'キャンセル', user_car_post_path(current_user, @post.car, @post), class: "btn btn-secondary" %>
        </div>

      <% end %>
    </div>
  </div>
</div>