<div class="container py-4">
  <div class="card shadow-sm">
    <div class="card-header bg-warning text-white">
      <h4 class="mb-0">新規投稿</h4>
    </div>

    <div class="card-body">
      <%= form_with model:@post, url: user_car_posts_path(current_user), local:true do |f| %>
        <%= render 'form', post: @post, f: f %>
        <div class="d-flex">
          <%= f.submit "投稿する", class: 'btn btn-success mr-3' %>
          <%= link_to 'キャンセル', users_mypage_path, class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>